.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;

	@include media($large-screen-up) {
		position: absolute;
	}

	.menu-main-container {
		float: left;
		width: 100%;
	}

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;
		float: left;
		width: 100%;
		line-height: 5.65;

		@include media($large-screen-up) {
			text-align: center;
		}

		ul {
			float: left;
			position: absolute;
			@include rem(top, 15px);
			@include rem(left, -9999px);
			z-index: 99999;


			ul {
				@include rem(left, -9999px);
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				@include rem(width, 200px);
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		position: relative;
		display: inline-block;
		margin: 0 10px;
		text-transform: uppercase;
		
		&:hover > a,
		&.focus > a {
			color: $brand-primary;	
		}
	}

	a {
		display: block;
		font-size: 14px;
		text-decoration: none;
		color: $heading-color;
		transition: color 300ms ease-in-out;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
		color: $brand-primary;
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@include media ($medium-screen-up) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		@include rem(margin, 0 0 15px);
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
